<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq4r4ZOOHl-mZATMI-tY3Uw2GolqNfhuM</string>
	<key>GCM_SENDER_ID</key>
	<string>654943651897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>moviegenius.moviegenius</string>
	<key>PROJECT_ID</key>
	<string>moviegenius-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>moviegenius-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654943651897:ios:7fa6c2a152b347377265e8</string>
</dict>
</plist>